<div>
  <nav class="navbar navbar-expand-lg fixed-top container-header">
    <div class="container-fluid">
      <ul class="row">
        <h1 class="text-header">ROCK, PAPER, SCISSORS</h1>
      </ul>
      <ul class="navbar-nav">
        <button type="button" class="btn">
          <i class="nav-link bi bi-play-fill icon-display" routerLink="/game"></i>
        </button>
        <button type="button" class="btn">
          <i class="nav-link bi bi-trophy icon-display" routerLink="/scores"></i>
        </button>
        <button type="button" class="btn">
          <i class="nav-link bi bi-house-door-fill icon-display" routerLink="/home"></i>
        </button>
      </ul>
    </div>
  </nav>
</div>