@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --home-color:  #f5efe1;
    --header-color: #212529;
}

@font-face {
    font-family: 'VarelaRound';
    src: url('src/assets/fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'AtariClassic';
    src: url('src/assets/fonts/AtariClassicSmooth-XzW2.ttf');
}

*{
    font-family: 'VarelaRound'; 
}

.body-color {    
    background-color: var(--home-color);
}

.container-full {
    width: 100%;
    height: 100vh;
}

.weapon-name {
    font-family: 'AtariClassic'; 
    text-transform: uppercase;
}

.weapon-image {
    max-width: 70px;
}
